/* Reset some default styles */
body, h1, p, img {
    margin: 0;
    padding: 0;
  }
  
  .client-container {
    font-family: Arial, sans-serif;
  }
  
  .client-banner-bar {
    background-color: #4c4444;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid gainsboro;
  }
  
  .message-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .message-box {
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .client-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 55px;
    padding: 10px;
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 1024px) {
    .client-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 items per row on tablets */
    }
  }
  
  @media screen and (max-width: 768px) {
    .client-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 items per row on mobile */
    }
  }
  
  .client-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .client-logo {
    width: 100px;
    height: auto;
  }
  
  .client-name {
    margin-top: 10px;
  }
  